.icon {
  color: #e84855;
  background-color: #fce5e7;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #e84855;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-icon {
    zoom: 1.5;
  }
}
